
/* -------------
-------------------------
   Layout
   -------------------------------------- */

   .head{
      text-align: center;
      position: none;
      height: 100px;
   }

   .head h4{
      color: white;
      margin-top: 25px;
      font-size: 40px;
   }

   .w1{
      height: 130px;
      background-color: wheat;
      margin-top: 200px;
      text-align: center;
      padding: 10px;
   }

   img{
      width: 150px;
   }

   table{
      width: 960px;
   }

   td,th,


/* --------------------------------------
   Typography
   -------------------------------------- */


/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
/* --------------------------------------
   Carousel
   ----------------------------------
   ---- */

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */